<div class="jumbotron text-center" style="">
   <a href="/"><img src="http://www.amedic.org/wp-content/uploads/2019/03/dark_logo_transparent-5zq8b.png" style="width:300px;height: auto"></a>
    </div>