<div>
    <nav class="navbar navbar-default">

        <a class="navbar-brand pull-left" href="/" style="padding: 0px"><img
                    src="http://www.amedic.org/wp-content/uploads/2019/03/dark_logo_transparent-5zq8b.png"
                    style="height: 100%; width: auto" alt="AMedic">
        </a>
        <div class="navbar-header navbar-right" style="margin-right: 0px">
            <ul class="nav pull-right">
                <% if(user){ %>
                    <li class="navbar-text pull-left"><%= user.login_id %></li>
                <% } %>
                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;"
                       class="dropdown-toggle"><span
                                class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile" title="Profile">Profile </a>
                        </li>
                        <li>
                            <a href="/logout" title="Logout">Logout </a>
                        </li>
                    </ul>
                </li>
                <li class="pull-right">
                    <!-- Required bootstrap placeholder for the collapsed menu -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </li>
            </ul>

        </div>
        <div class="collapse navbar-collapse" id="navbar2">
            <ul class="nav navbar-nav">
                <li><a href="/patients">Search Patient</a></li>
                <li><a href="/patients/register">Register Patient</a></li>
                <%
                if(!user){
                }else{
                if(user.admin_flag === 1){
                %>
                    <li><a href="/users">Admin</a></li>
                <%
                }
                }
                %>
            </ul>
        </div>
    </nav>
</div>