<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/patients">Search Patient</a></li>
            <li><a href="/patients/register">Register Patient</a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/users/register">Register User</a></li>
                    <li><a href="/users">Show Users</a></li>
                    <li><a href="/HSAs">Update HSA</a></li>
                    <li><a href="/healthFacilities/registerHealthFacility">Register Health Facility</a></li>
                    <li><a href="/healthFacilities">Update Health Facility</a></li>
                    <li><a href="/districts">Add/Edit Districts and Villages</a></li>

                </ul></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</nav>