<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">AMedic</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/users">Show Users</a></li>
            <li><a href="/patients">Show Patients</a></li>
            <li><a href="/registerPatient">Register Patient</a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/registerUser">Register User</a></li>
                    <li><a href="#">Update User</a></li>
                    <li><a href="/registerHealthFacility">Register Health Center</a></li>
                    <li><a href="#">Update Health Center</a></li>

                </ul></li>
        </ul>
    </div>
</nav>