<!DOCTYPE html>
<html lang="en">
<% include head.ejs%>
<style type="text/css">
.colorChange {
color:red;
}
    .container{
        background-color: #e2e0e0;
    }
</style>

<body>
<div class="container">
    <% include nav.ejs%>
    <form id="registerPatientForm" style="padding-bottom:2em;">
        <div class="form-group">
            <label for="inputFirstName">First Name <span class="colorChange">* </span></label>
            <input class="form-control" id="inputFirstName" name="name" placeholder="First name" required>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last Name <span class="colorChange">* </span></label>
            <input class="form-control" id="inputLastName" name="lastName" placeholder="Last name" required>
        </div>
        <div class="form-group">
            <label for="inputNationalId">National ID <span class="colorChange">* </span></label>
            <input type="number" class="form-control" id="inputNationalId" name="nationalID" placeholder="YYMMDD-XXXX"required>
        </div>
        <div class="form-group">
            <label for="inputMobileNo">Mobile Number <span class="colorChange">* </span></label>
            <input type="number" class="form-control" id="inputMobileNo" name="mobileNo" placeholder="070000000" required>
        </div>


        <div class="form-group">
            <label for="inputDateOfBirth">Date Of Birth <span class="colorChange">* </span></label>
            <input class="form-control" id="inputDateOfBirth" name="dateOfBirth" placeholder="YYMMDD-XXXX" required>
        </div>
        <div class="form-group">
            <label for="inputSex">Sex <span class="colorChange">* </span></label>
            <select id="selectSex" name="sex" class="form-control">
                <option> Male </option>
                <option> Female</option>
            </select>
        </div>
        <div class ="form-group">
            <label for="inputDistrict"> District <span class="colorChange">* </span> </label>
            <select name="districtName" id="districtsDropdown" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label for="inputPatient">Village <span class="colorChange">* </span></label>
            <select id="villageDropdown" name="villageName" class="form-control">

            </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="reset" value="Reset" class="btn btn-info">

    </form>

</div>
<script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "/districts/getDistricts",
            success: function (result) {
                console.log(result[0].name);
                const districtsDropDown = $("#districtsDropdown");
                $.each(result, function(idx, element){
                    districtsDropDown.append("<option value=element.name>" + element.name + "</option>");
                });

            },
            error: function (err) {
                console.log(err);
                throw err;
            }

        });

    });

    $('#districtsDropdown').on('change', function (){
    var districtName = $(this).children('#districtsDropdown option:selected').text(); /// fixa denna skiten
        console.log(districtName);
       $(villageDropdown).empty();
        $.ajax({
            type: "POST",
            url: "/villages/findVillages",
            format: "json",
            data: {districtName: districtName},
            success: function (result) {
                console.log(name);
                var villageDropdown = $("#villageDropdown");
                $.each(result, function (idx, element) {
                    villageDropdown.append("<option>" + element.name + "</option>");
                });

            }
        });

    });



    $('#registerPatientForm').submit(function(e){
        e.preventDefault();
        const newID = $('#inputNationalId').val();

            $.ajax({
                method:'post',
                url:'/patients/register',
                data: $('#registerPatientForm').serialize(),
                dataType:'json',
                success: function(result){
                    if(result.status=200){
                        alert('success');
                        $("#registerPatientForm")[0].reset();
                        location.href = newID;
                    }else {
                        alert('error');
                    }
                    alert(result.message);
                },
                error: function(xhr, status, error){
                    alert(status.message);
                }
            });

    });

    $(document).ready(function(){
        var date_input=$('input[id="inputDateOfBirth"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
       // checkLocal();
        //setInterval(saveLocal, 3000);
        checkSession();
        setInterval(saveSession, 3000);

    });

    function saveSession(){
        var session = {
            firstName : $('#inputFirstName').val(),
            lastName : $('#inputLastName').val(),
            nationalID: $('#inputNationalId').val(),
            mobileNo: $('#inputMobileNo').val(),
            dateOfBirth: $('#inputDateOfBirth').val(),
            sex: $('#selectSex').val(),
            village: $('#selectVillage').val()
        };
        sessionStorage.setItem('regPatient', JSON.stringify(session));


    }

    function checkSession(){
        var obj = JSON.parse(sessionStorage.getItem('regPatient'));
        if(obj!== null){
            console.log(obj);
            if(obj.firstName !== ""){
                $('#inputFirstName').val(obj.firstName);
            }

            if(obj.lastName !== ""){
                $('#inputLastName').val(obj.lastName);
            }
            if(obj.nationalID !== "");
            $('#inputNationalId').val(obj.nationalID);

            if(obj.mobileNo !== ""){
                $('#inputMobileNo').val(obj.mobileNo);
            }
            if(obj.dateOfBirth !== ""){
                $('#inputDateOfBirth').val(obj.dateOfBirth);
            }
                if(obj.sex !== ""){
                    $('#selectSex').val(obj.sex);
                }

            if(obj.village !== ""){
                $('#selectVillage').val(obj.village);
            }

        }
    }
</script>

</body>
</html>