<!DOCTYPE html>
<html lang="en">
<% include head.ejs%>
<body>
<div class="container">
    <% include nav.ejs%>
    <form action="/registerHF" method="post">
        <div class="form-group">
            <label for="inputHealthFacilityName">Health Facility Name</label>
            <input name= "name" class="form-control" id="inputHealthFacilityName" placeholder="Facility Name" required>
        </div>

        <div class="form-group">
            <label for="inputVillageName">Village Name</label>
            <select id="inputVillageName" class="form-control"><% for (var i = 0; i < result.length;i++){ %><option><%=result[i].name%></option><%}%></select>

        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>