<!DOCTYPE html>
<html lang="en">
<% include head.ejs%>
<style type="text/css">
.colorChange {
color:red;
}

</style>

<body>
<div class="container">
    <% include nav.ejs%>
    <form id="registerPatientForm" style="padding-bottom:2em;">
        <div class="form-group">
            <label for="inputFirstName">First Name <span class="colorChange">* </span></label>
            <input class="form-control" id="inputFirstName" name="name" placeholder="First name" required>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last Name <span class="colorChange">* </span></label>
            <input class="form-control" id="inputLastName" name="lastName" placeholder="Last name" required>
        </div>
        <div class="form-group">
            <label for="inputNationalId">National ID <span class="colorChange">* </span></label>
            <input type="number" class="form-control" id="inputNationalId" name="nationalID" placeholder="YYMMDD-XXXX"required>
        </div>
        <div class="form-group">
            <label for="inputMobileNo">Mobile Number <span class="colorChange">* </span></label>
            <input type="number" class="form-control" id="inputMobileNo" name="mobileNo" placeholder="070000000" required>
        </div>


        <div class="form-group">
            <label for="inputDateOfBirth">Date Of Birth <span class="colorChange">* </span></label>
            <input class="form-control" id="inputDateOfBirth" name="dateOfBirth" placeholder="YYMMDD-XXXX" required>
        </div>
            <div class="form-group">
                <label for="caregiver" style="display:block;">Caregiver <span class="colorChange">* </span></label>
                <input type="radio" name="caregiver" value="Yes">
                <label for="Yes">Yes</label>
                <input type="radio" name="caregiver" value="No">
                <label for="No">No</label>

            </div>
        <div id="registerCaregiver" style="display:none;margin-left:5%" >

            <div class="form-group">
                <label for="caregiverName">Caregiver Name <span class="colorChange">* </span></label>
                <input class="form-control" id="caregiverName" name="caregiverName" placeholder="Name" required>
            </div>
                <div class="form-group">
                    <label for="caregiverNationalID">Caregiver National ID<span class="colorChange">* </span></label>
                    <input class="form-control" id="caregiverNationalID" name="caregiverNationalID" placeholder="National ID" required>
                </div>
                <div class="form-group">
                    <label for="relation">Relation to patient <span class="colorChange">* </span></label>
                    <input class="form-control" id="relation" name="relation" placeholder="Relation" required>
                </div>
                <div class="form-group">
                    <label for="caregiverDateOfBirth">Date Of Birth <span class="colorChange">* </span></label>
                    <input class="form-control" id="caregiverDateOfBirth" name="caregiverDateOfBirth" placeholder="YYMMDD-XXXX" required>
                </div>
                <div class="form-group">
                    <label for="caregiverMobileNo">Date Of Birth <span class="colorChange">* </span></label>
                    <input class="form-control" id="caregiverMobileNo" name="caregiverMobileNo" placeholder="Mobile No" required>
                </div>

        </div>
        <div class="form-group">
            <label for="inputSex">Sex <span class="colorChange">* </span></label>
            <select id="selectSex" name="sex" class="form-control">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class ="form-group">
            <label for="inputDistrict"> District <span class="colorChange">* </span> </label>
            <select name="districtName" id="districtsDropdown" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label for="inputPatient">Village <span class="colorChange">* </span></label>
            <select id="villageDropdown" name="villageName" class="form-control">

            </select>
        </div>


        <button id="btnRegisterPatient" type="button" value="Submit" class="btn btn-primary">Submit</button>
        <input type="reset" value="Reset" class="btn btn-info">

    </form>

</div>
<script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "/districts/getDistricts",
            success: function (result) {
                console.log(result[0].name);
                const districtsDropDown = $("#districtsDropdown");
                $.each(result, function(idx, element){
                    districtsDropDown.append("<option value=element.name>" + element.name + "</option>");
                });

            },
            error: function (err) {
                console.log(err);
                throw err;
            }

        });

    });

    $('#districtsDropdown').on('change', function (){
    var districtName = $(this).children('#districtsDropdown option:selected').text(); /// fixa denna skiten
        console.log(districtName);
       $(villageDropdown).empty();
        $.ajax({
            type: "POST",
            url: "/villages/findVillages",
            format: "json",
            data: {districtName: districtName},
            success: function (result) {
                console.log(name);
                var villageDropdown = $("#villageDropdown");
                $.each(result, function (idx, element) {
                    villageDropdown.append("<option>" + element.name + "</option>");
                });

            }
        });

    });



    $('#btnRegisterPatient').on('click', function(e){
        e.preventDefault();
        const newID = $('#inputNationalId').val();

            $.ajax({
                method:'post',
                url:'/patients/register',
                data: $('#registerPatientForm').serialize(),
                dataType:'json',
                success: function(result){
                    if(result.status=200){
                        alert('success');
                        $("#registerPatientForm")[0].reset();
                        location.href = newID;
                    }else {
                        alert('error');
                    }
                    alert(result.message);
                },
                error: function(xhr, status, error){
                    alert(status.message);
                }
            });

    });

    $(document).ready(function(){
        var date_input=$('input[id="inputDateOfBirth"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var care_giver_date_input=$('input[id="caregiverDateOfBirth"]');
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
        care_giver_date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });

    });

    $('input[type=radio][name=caregiver]').change(function() {
        if (this.value == 'Yes') {
           $('#registerCaregiver').show();
        }
        else if (this.value == 'No') {
            $('#registerCaregiver').hide();
        }
    });</script>

</body>
</html>