<!DOCTYPE html>
<html lang="en">
<% include head.ejs%>
<body>
<% include header.ejs%>
<div class="container">
    <% include nav.ejs%>
    <form id="registerPatientForm">
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input class="form-control" id="inputFirstName" name="name" placeholder="First name" required>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input class="form-control" id="inputLastName" name="lastName" placeholder="Last name" required>
        </div>
        <div class="form-group">
            <label for="inputNationalId">National ID</label>
            <input class="form-control" id="inputNationalId" name="nationalID" placeholder="YYMMDD-XXXX"required>
        </div>
        <div class="form-group">
            <label for="inputMobileNo">Mobile Number</label>
            <input class="form-control" id="inputMobileNo" name="mobileNo" placeholder="070000000" required>
        </div>

        <div class="form-group">
            <label for="inputMobileNo">Sex</label>
            <select name="sex">
                <option> Male </option>
                <option> Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="inputDateOfBirth">Date Of Birth</label>
            <input class="form-control" id="inputDateOfBirth" name="dateOfBirth" placeholder="YYMMDD-XXXX" required>
        </div>
        <div class="form-group">
            <label for="inputPatient">Village</label>
            <select name="villageName"><%for (var i = 0; i < result.length;i++){ %><option><%=result[i].name%></option><%}%>></select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<script>
    $('#registerPatientForm').submit(function(e){
        e.preventDefault();
        if($('#inputPassword').val() === $('#inputPasswordAgain').val()){
            $.ajax({
                method:'post',
                url:'/patients/register',
                data: $('#registerPatientForm').serialize(),
                dataType:'json',
                success: function(result){
                    if(result.status=200){
                        alert('success');
                    }else {
                        alert('error');
                    }
                    alert(result.message);
                },
                error: function(xhr, status, error){
                    alert(status.message);
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function(){
        var date_input=$('input[id="inputDateOfBirth"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>

</body>
</html>