<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>
<body>
<% include loginHeader.ejs %>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <legend>Reset Password</legend>
        <form action="/forgot/resetPassword" onsubmit="return checkPassword();" method="POST">
            <div class="form-group">
                <input type="hidden" name="id" value="<%= id %>">
                <input type="hidden" name="token" value="<%= token %>">
                <input type="password" id="password" name="password" class="form-control" value=""
                       placeholder="Enter your new password..." required>
            </div>
            <div class="form-group">
                <input type="password" id="confirmPassword" value="" class="form-control" placeholder="Confirm"
                       required>
            </div>
            <% if(typeof message !== 'undefined'){ %>
            <p><%= message %></p>
            <% } %>
            <input type="submit" class="btn btn-success" value="Reset Password"/>
        </form>
        <label id="labelResponse"></label>
    </div>
    </form>
</div>
</div>
<script>
    function checkPassword() {
        if ($('#password').val() === $('#confirmPassword').val()) {
            return true;
        } else {
            $('#labelResponse').text("Password doesn't match");
            return false;
        }
    }

</script>
</body>
</html>