<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<body>
<% include header.ejs %>
<style>
    tr:not(:first-child):hover{
        background-color:#ddd;
    }
    .table-wrapper-scroll-y {
        display: block;
        max-height: 500px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
</style>
<div class="container">
    <% include nav.ejs %>

    <div class="col-md-5 ">

        <div class="panel panel-default" style="min-height:350px;">
            <div class="panel-heading"><h4>Search</h4></div>
            <div class="panel-body">

                <div class="box box-info">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Name or LoginID" id="searchText"
                               onkeyup="fetchUsers()"/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="searchButton">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <div class="table-wrapper-scroll-y">

                    <table id="usersTable" class="table">
                        <tr>
                            <th>ID</th>
                            '
                            <th>Name</th>
                            <th>LoginID</th>


                        </tr>
                        <% for (var i = 0; i < result.length;i++){ %>
                        <tr>
                            <td><%= result[i].ID %></td>
                            <td><%= result[i].name %></td>
                            <td><%= result[i].loginID %></td>

                            <% } %>
                        </tr>
                    </table>
                    </div>
                </div>


            </div>


        </div>

    </div>



    <div class="col-md-7 ">

        <div class="panel panel-default" style="min-height:350px;">
            <div class="panel-heading"><h4>User</h4></div>
            <div class="panel-body">

                <div class="box box-info">
                    <form id="userForm">
                    <div class="form-group">
                        <label for="userId">ID</label>
                        <input id="userId" class="form-control" type="text" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="userName">Name</label>

                        <input id="userName" name="userName" class="form-control user" type="text" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="userLoginID">Login ID</label>

                        <input id="userLoginID" name="userLoginID" class="form-control user" type="text" disabled="true">
                    </div>
                    <div class="form-group">

                        <label for="userPassword">Password</label>

                        <input id="userPassword" class="form-control" type="password" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="userRole">Role</label>
                        <select id="userRole" name="userRole" class="form-control user" disabled="true">

                            <option>HE</option>
                            <option>HSA</option>
                            <option>Sysadmin</option>

                        </select>
                    </div>
                    <div class="form-group">

                        <label for="userLastLogin">Last Login</label>

                        <input id="userLastLogin" class="form-control" type="text" disabled="true">
                    </div>
                    </form>
                    <button class="btn btn-info btn-lg" onclick="unlockFields()">Edit</button>
                    <button class="btn btn-success btn-lg"  onclick="saveUser()" disabled="true">Save</button>

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" disabled="true">Delete</button>

                    <!-- Dialog Modal --->
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Delete User!</h4>
                                </div>
                                <div class="modal-body">
                                    <p> <span id="textChange"> <b>Are you sure you want to delete the selected user? </b></span></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="removeUser()" class="btn btn-danger" data-dismiss="modal">Yes</button>
                                    <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>


        </div>

    </div>
</div>

</div>
<script>
    function fetchUsers() {
        var searchText = $('#searchText').val();


        $.ajax({
            type: "POST",
            url: "/users/findUserLike",
            data: {
                searchText: searchText
            },
            success: function (result) {
                if (!$.trim(result)) {
                } else {
                    $('#usersTable tbody').empty();
                    $('#usersTable tbody').append('<tr>\n' +
                        '   <th>ID</th> ' +
                        '            <th>Name</th>\n' +
                        '            <th>LoginID</th>\n' +
                        '</tr>')
                    for (var i = 0; i < result.length; i++) {

                        $('#usersTable tbody').append('<tr><td>' + result[i].ID + '<td>' + result[i].name + '</td><td>' + result[i].loginID + '</td></tr>');
                    }

                }

            },
            error: function (result) {

            }
        });

    }

        $(document).on("click", "#usersTable tr", function () {
            var $this = $(this);
            var row = $this.closest("tr");
            var id = row.find('td:first').text();

            $(".user").prop('disabled', true);
            $(".btn-success").prop('disabled', true);
            $(".btn-info").prop('disabled', false);
            $(".btn-danger").prop('disabled', false);
            $.ajax({
                type: "POST",
                url: "/users/findUser",
                data: {
                    id: id
                },
                success: function (result) {

                    $('#userId').val(result.ID);
                    $('#userName').val(result.name);
                    $('#userRole').val(result.role);
                    $('#userLoginID').val(result.loginID);
                    $('#userPassword').val(result.password);


                    $('#userLastLogin').val(result.lastLogin);



                },
                error: function (result) {

                }
            });

        });

    function unlockFields(){
        $(".user").prop('disabled', false);
        $(".btn-success").prop('disabled', false);
        $(".btn-info").prop('disabled', true);


    }
    function saveUser(){
        $(".user").prop('disabled', true);
        $(".btn-success").prop('disabled', true);
        $(".btn-info").prop('disabled', false);

        $.ajax({
            type: "POST",
            url: "/users/updateUser",
            data:{
                userName: $('#userName').val(),
                userRole: $('#userRole').val(),
                userLoginID: $('#userLoginID').val()
            }
            ,
            success: function (result) {
            fetchUsers();

            },
            error: function (result) {

            }
        });
    }

    function removeUser() {
        var id = $('#userId').val();

        $('.btn-danger').prop('disabled', false);
        $.ajax({
            method: "POST",
            url: "/users/removeUser",
            data: {
                id: id
            },
            success: function(result) {
                    $('#textChange').text("User deleted");
                    alert("User deleted successfully");


            },
            error: function(err){
                console.log(err);
                throw err();

            }
        });

    }
</script>
</body>
</html>