<!DOCTYPE html>
<html lang="en">
<% include head.ejs%>
<body>
<div class="container">
    <% include nav.ejs%>

    <table style="margin-top:50px" class="table table-striped">
        <tr>

            <th>Name</th>
            <th>Village</th>

        </tr>
        <% for (var i = 0; i < result.length;i++){ %>
        <tr>
            <td><%=result[i].name%></td>
            <td><%=result[i].village_name%></td>
        <tr>
            <%}%>
        </tr>
    </table>
</div>
</body>
</html>
