<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<style>
    tr:hover{
        background-color:#ddd;
    }
</style>
<body>
<% include header.ejs %>
<div class="container">
    <% include nav.ejs %>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">HSA Visits</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="HSAVisits" class="table table-striped">
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="main-content">
    <div class="input-group">
        <input type="number" class="form-control" placeholder="National ID" id="searchText"/>
        <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="searchButton">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <table id='patientTable' class="table table-striped">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>

    </table>
    </div>
    </div>
</div>


<script>
       $(document).on("dblclick","#patientTable tr", function () {
           var $this = $(this);
           var row = $this.closest("tr");
           var id = row.find('td:nth(2)').text();


           var requestSite = '/patients/'+id;
           location.replace(requestSite);
       });
              /*  $('#HSAVisits').empty();

                $('#exampleModal').modal('toggle');

                $.ajax({
                    type: "POST",
                    url: "/HSA_Visits",
                    data: {
                        id: id

                    },
                    success: function (result) {

                        if (!$.trim(result)) {

                        } else {
                            $('#HSAVisits').append('<tr>\n' +
                                '            <th>Patient ID</th>\n' +
                                '            <th>Symptom ID</th>\n' +
                                '            <th>Diagnosis ID</th>\n' +
                                '            <th>Timestamp</th>\n' +
                                '        </tr>');
                            $.each(result, function (index, value) {
                                $('#HSAVisits').append('<tr><td>' + value.patientID + '</td><td>' + value.symptomID + '</td><td>' + value.diagnosisID + '</td><td>' + value.timestamp + '</td></tr>');

                            });
                        }
                    },
                    error: function (result) {
                        alert('hej');
                    }
                });


        });

*/
    function deleteRow() {
        var id = $(this).parent().siblings().filter(":first").text();
        deletePatient(id);
    }

    function deletePatient(id) {
        var confirmation = confirm("Are you sure you want to remove patient?");
        if (confirmation == true) {
            $.ajax({
                type: "POST",
                url: "/patients/deletePatient",
                data: {
                    id: id

                },
                success: function (result) {
                    alert("Borttagen");

                },
                error: function (result) {
                    alert('hej');
                }
            });
        } else {
            return;
        }
    }

  /*  function editRow() {
        if ($(this).html() == 'Edit') {
            $(this).removeClass('btn-info');
            $(this).addClass('btn-success');
            $(this).parent().siblings().find('select').prop("disabled", false);

            $(this).parent().siblings(".editable").attr("contenteditable", "true");
        } else {
            $(this).parent().siblings().find('select').prop("disabled", true);

            $(this).addClass('btn-info');
            $(this).removeClass('btn-success');
            $(this).parent().siblings().attr("contenteditable", "false");
            var id = $(this).parent().siblings().filter(":first").text();
            var name = $(this).parent().siblings().filter(":nth(1)").text();
            var nationalID = $(this).parent().siblings().filter(":nth(2)").text();
            var mobileNo = $(this).parent().siblings().filter(":nth(3)").text();
            var sex = $(this).parent().siblings().filter(":nth(4)").text();
            var villageName = $(this).parent().siblings().find('select').val();

            var dateOfBirth = $(this).parent().siblings().filter(":nth(6)").text();


            // GET from select           var sex = $(this).parent().siblings().find('select').val();


            updatePatient(id, name, nationalID, mobileNo, sex, villageName, dateOfBirth);

        }
        $(this).html($(this).html() == 'Edit' ? 'Save' : 'Edit')

    }
*/

  /*
    function updatePatient(id, name, nationalID, mobileNo, sex, villageName, dateOfBirth) {
        $.ajax({
            type: "POST",
            url: "/patients/updatePatient",
            data: {
                id: id,
                name: name,
                nationalID: nationalID,
                mobileNo: mobileNo,
                sex: sex,
                villageName: villageName,
                dateOfBirth: dateOfBirth
            },
            success: function (result) {
            },
            error: function (result) {

            }
        });
    }

*/
    function findPatient(id) {
        $.ajax({
            type: "POST",
            url: "/patients",
            data: {
                id: id
            },
            success: function (result) {
                if (!$.trim(result)) {
                    alert("No patient found with given National ID");
                } else {
                    patient = result[0];
                    villages = result[1];

                    $('#patientTable tbody').empty();
                    $('#patientTable tbody').append('<tr>\n' +
                        '            <th>ID</th>\n' +
                        '            <th>Name</th>\n' +
                        '            <th>National ID</th>\n' +
                        '            <th>Mobile No</th>\n' +
                        '            <th>Sex</th>\n' +
                        '            <th>Village Name</th>\n' +
                        '            <th>Date Of Birth</th>\n' +
                        '            <th>&nbsp</th>\n' +
                        '            <th>&nbsp</th>\n' +
                        '\n' +
                        '        </tr>')
                    var string = '<tr><td>'+patient.ID+'</td><td class="editable">' + patient.name + '</td><td class="editable">' + patient.nationalID + '</td><td class="editable">' + patient.mobileNo + '</td><td class="editable">' + patient.sex + '</td>';
                    string = string.concat('<td><select class="editable villageName" disabled="true">');

                    for (i = 0; i < villages.length; i++) {
                        string = string.concat('<option value="' + villages[i].name.toUpperCase() + '">' + villages[i].name + '</option>');
                    }
                   string =  string.concat('</select></td><td class="editable">' + patient.dateOfBirth + '</td></tr>')
                    $('#patientTable tbody').append(string);
                    $('.villageName').val(patient.villageName.toUpperCase());


                }

            },
            error: function (result) {

            }
        });

        }

    $(document).on('click', '#searchButton', function () {
        var id = $('#searchText').val();
        if (id != '') {
            findPatient(id);
        }
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {
            var id = $('#searchText').val();
            if (id != '') {
                findPatient(id);
            }
        }
    })
    $(document).on('click', '.btn-danger', deleteRow);
  //  $(document).on('click', '.btnEdit', editRow);
</script>
</body>
</html>