<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<style>
    .panel-body {
        min-height: 250px;
    }
</style>
<body>
<div class="container">
    <% include nav.ejs %>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Username: <%= user.login_id %></h4></div>
            <form id="userForm">
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="form-group">
                            <label for="userName">Name</label>
                            <input class="form-control" id="userName" name="userName" type="text" disabled="true"
                                   value="<%= user.name %>">
                        </div>
                        <div class="form-group">
                            <label for="userEmail">Email</label>
                            <input class="form-control user" id="userEmail" name="email" type="email" disabled="true"
                                   value="<%= user.email %>">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-space btn-info btn-lg" onclick="unlockFields()">
                        <span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="submit" class="btn btn-space btn-success btn-edit btn-lg" disabled="true">
                        <span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Change password</h4></div>
            <form id="passwordForm">
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="form-group">
                            <label for="oldPassword">Current password</label>
                            <input id="oldPassword" name="oldPassword" class="form-control" type="password" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New password</label>
                            <input id="newPassword" name="newPassword" class="form-control" type="password" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword2">New password again</label>
                            <input id="newPassword2" name="newPassword2" class="form-control" type="password" required>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-space btn-success btn-lg"><span
                                class="glyphicon glyphicon-ok"></span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function unlockFields() {
        $(".user").prop('disabled', false);
        $(".btn-edit").prop('disabled', false);
        $(".btn-info").prop('disabled', true);
    }

    $('#userForm').submit(function (e) {
        e.preventDefault();
        $(".user").prop('disabled', true);
        $(".btn-edit").prop('disabled', true);
        $(".btn-info").prop('disabled', false);
        $.ajax({
            type: 'post',
            url: '/profile/updateUser',
            data: {
                name: $('#userName').val(),
                email: $('#userEmail').val()
            },
            success: function (result) {
                if (result.status === 200) {
                    location.reload();
                } else {
                    alert("Could not update User");
                }
            },
            error: function (result) {

            }
        });

    });
    $('#passwordForm').submit(function (e) {
        e.preventDefault();
        if ($('#newPassword').val() === $('#newPassword2').val()) {
            $.ajax({
                method: 'post',
                url: '/profile/updateUserPassword',
                data:
                    $('#passwordForm').serialize(),
                dataType: 'json',
                success: function (result) {
                    if (result.status === 200) {
                        location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert(status.message);
                }
            });
        } else {
            alert("Passwords doesn't match");
        }
    });
</script>
</body>
</html>